@model VidlyTwo.Models.Customer
@{
    ViewBag.Title = "Customer";
}

<h2>Customer</h2>
<br />
<h3>@Model.Name</h3>
<ul>
    <li>@Model.MembershipType.Name</li>
    @if (Model.BirthDate != null)
    {
        <li>@($"{Model.BirthDate:yyyy/MM/dd}")</li>
    }

</ul>